@import "variables";
@import "vendor/bootstrap/bootstrap/variables";

.page-illustrated-header-container {
  padding-top: 10px;

  .page-headline {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 46px;
  }

  .subheader {
    margin-bottom: 40px;
    color: $color-gray-extra-light;
    font-weight: 300;
    font-size: 22px;
  }

  > svg {
    height: 430px;
    left: -15px;

    @media(max-width: $screen-xs-max) {
      left: -100px;
    }
  }

  .cta-btn {
    min-width: 180px;
    margin-bottom: 140px;
  }

  .cta-btn-addon {
    min-width: 120px;
    margin: 0;
    margin-bottom: 3px;
    line-height: 38px;
  }
}

.page-container.customer-stories {
  background-color: $body-bg;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid $border-color;
}

.page-container.customer-gallery {
  background-color: $color-white;

  .gallery-title {
    color: $color-primary-alt;
    margin-bottom: 40px;
  }

  .gallery-subtitle {
    font-weight: bold;
    cursor: pointer;
  }

  .gallery-separator {
    border-top: 1px solid $border-color;
    margin-bottom: 40px;
  }

  .filter-list,
  .checkbox {
    display: block;
    margin-left: 20px;

    .radio {
      margin-bottom: 30px;

      input {
        font-size: 16px;
      }

      .industry-radio {
        margin: 5px -20px 0;
      }
    }

    label {
      color: $text-color-light;
      font-size: 18px;
      font-weight: normal;
    }
  }

  .org-groups-container {
    margin-top: 85px;
    min-height: 822px;

    .row {
      margin-top: 74px;
    }
  }

  .filter-list {
    display: none;
  }

  .filter-list-container.is-open {
    .filter-list {
      display: block;
    }

    .gallery-subtitle {
      .drawer-button {
        color: $color-secondary;
        transform: rotate(180deg);
      }
    }
  }
}

.customer-quotes {
  background-color: $body-bg;
  padding-top: 80px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  svg path {
    fill: $color-gray-light;
  }
}

.quoted-logo {
  padding-bottom: 15px;
}

.quoted-logo:hover {
  border-bottom: 4px solid $color-gray-light;

  svg path {
    fill: $color-gray-light;
  }

  &.quoted-logo-clicked {
    border-bottom-color: $color-secondary;

    svg path {
      fill: $color-secondary;
    }
  }
}

.quoted-logo-clicked {
  border-bottom: 4px solid $color-secondary;

  svg path {
    fill: $color-secondary;
  }
}

.quote-author-container {
  color: $text-color-light;
  font-size: 22px;
  font-weight: 500;
}

.quote-author-charge-container {
  color: $color-gray-light;
  font-size: 16px;
  margin-bottom: 0;
}

.quote-container {
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: 300;
  color: $text-color-light;
  margin-top: 80px;
  margin-bottom: 40px;
  line-height: 1.4;
  min-height: 330px;

  @media(max-width: $screen-xs-max) {
    font-size: 18px;
  }
}

.share-your-story {
  background-color: $color-white;
  padding-top: 80px;

  h3 {
    font-size: 30px;
    color: $color-primary;
    margin-bottom: 40px;
  }

  h4 {
    color: $text-color-light;
    font-size: 22px;
    font-weight: 500;
  }

  @media(max-width: $screen-sm-max) {
    padding-bottom: 80px;
  }
}

.stories-table {
  margin: 0 auto;

  .row:not(:first-child) {
    margin-top: 30px;
  }

  @media(max-width: $screen-sm-max) {
    .row:not(:first-child) {
      margin-top: 0;
    }
  }
}

.story-card {
  background-color: $color-white;
  border: 1px solid $border-color;

  .cover {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 2px 2px 0 0;
  }

  .name {
    $lt-name-color: #a1a2a2;
    height: 25px;
    margin: 20px 20px 10px;
    color: $lt-name-color;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

    + .title {
      margin-top: 0;
    }
  }

  .title {
    color: $color-primary-alt;
    font-size: 20px;
    margin: 55px 20px 20px;
    height: 100px;

    a,
    a:hover {
      color: $color-primary-alt;
    }
  }

  @media(max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }
}

.pagination {
  margin-top: 70px;

  li {
    span {
      font-size: 18px;
      color: $blueish-gray;
    }

    &.active {
      span {
        color: $color-primary;
      }
    }
  }
}

.center-horizontal {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.input-with-addon {
  display: flex;
  margin-bottom: 140px;
  justify-content: center;
}

.input-with-addon-field {
  display: inline-block;
  width: 250px;
  padding: 1px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}

.input-with-addon-item {
  flex: 1;
}

.radius-right-side {
  border-radius: 0 4px 4px 0;
}

.org-image {
  width: 100%;
  vertical-align: middle;

  svg {
    fill: $text-color-light;
  }
}
