@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "typography";
@import "vendor/slick";
@import "mixins/js--enabled";

body {
  background-color: $color-white;
}

.flex-row {
  display: flex;
}

.btn {
  font-weight: 300;
}

.js-hover {
  cursor: pointer;

  a {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.gitlab-promo-banner {
  padding-bottom: 3px;
  background-color: $color-accent;
  font-size: 16px;
  text-align: center;
  padding: 8px;

  > a {
    color: $color-white;
    border-bottom: 1px solid $color-white;

    &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}

.home-splash {
  $lt-bg-color: #231a3d;
  $lt-gradient-end-color: #664bb3;
  padding-top: 40px;
  background-color: $lt-bg-color;
  background-image: linear-gradient(180deg, $lt-bg-color 0%, $lt-bg-color 40%, $lt-gradient-end-color 100%);
  color: $color-white;

  .page-subtitle {
    @include accent-font-light;
    max-width: 784px;
    margin: 20px auto 18px;
    font-size: 28px;
  }
}

.home-lifecycle-diagram {
  margin-top: 50px;
}

.lifecycle-diagram-navigation {
  $lt-border-color: #7e62d0;
  display: flex;
  margin-bottom: 50px;
  padding-left: 0;
  list-style: none;

  @media (max-width: $screen-xs-max) {
    margin-right: 20px;
    margin-left: 20px;
  }

  // Keep display flex, not block from slick CSS
  &.slick-initialized .slick-slide {
    display: flex;
  }

  li {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 20px 8px;
    border-top: 2px solid $lt-border-color;
    border-bottom: 2px solid $lt-border-color;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;

    @media (min-width: $screen-lg-min) {
      padding: 23px 42px 15px;
    }

    &.is-active {
      z-index: 2;
    }

    &:first-child {
      border-left: 2px solid $lt-border-color;
    }


    &:not(:last-child) {
      margin-right: 5px;
    }

    &:not(.is-active)::after {
      box-sizing: content-box;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 2px;
      border-top: 47px solid $lt-border-color;
      border-bottom: 47px solid $lt-border-color;
      content: "";

      @media (min-width: $screen-lg-min) {
        border-top-width: 56px;
        border-bottom-width: 56px;
      }
    }

    &:not(.is-active)::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 12px;
      height: 12px;
      margin-top: -6px;
      margin-right: -5px;
      border-top: 2px solid $lt-border-color;
      border-right: 2px solid $lt-border-color;
      transform: rotate(60deg) skew(30deg);
      transform-origin: center;
      content: "";
    }

    &:last-child {
      border-right: 2px solid $lt-border-color;

      &::before,
      &::after {
        content: none;
      }
    }

    &.is-active::before {
      $lt-bg-color: #f38327;
      $lt-gradient-start-color: $lt-border-color;
      $lt-gradient-end-color: #5f46a6;
      $lt-box-shadow-color: rgba(0, 0, 0, .35);
      position: absolute;
      top: -16px;
      right: -9px;
      bottom: -15px;
      left: -7px;
      background-color: $lt-bg-color;
      background-image: linear-gradient(to top, $lt-gradient-start-color 0%, $lt-gradient-end-color 100%);
      border-radius: 3px;
      box-shadow: 1.8px 2.4px 7px $lt-box-shadow-color;
      content: "";
    }
  }

  svg {
    height: 55px;
    margin-bottom: 10px;

    path {
      stroke: $color-white;
      fill: $color-white;
    }
  }

  svg,
  span {
    position: relative;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 24px;
    padding: 0;
    margin-top: -12px;
    border: 0;
    text-indent: -32000em;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 5;

    &.slick-disabled {
      opacity: .5;
      cursor: default;
    }
  }

  .slick-prev {
    left: -30px;
    background: url("/images/home/arrow-left.svg");
  }

  .slick-next {
    right: -30px;
    background: url("/images/home/arrow-right.svg");
  }
}

.lifecycle-diagram-phase {
  @include js--enabled() {
    &:not(:first-of-type) {
      display: none;
    }
  }

  .home-lifecycle-diagram.is-checking-height & {
    // scss-lint:disable ImportantRule
    display: block !important;
  }

  .sub-heading {
    margin-top: 8px;
  }

  .description {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
  }

  .btn-group {
    padding-bottom: 20px;
  }

  .image-column {
    margin-bottom: -42px;

    img {
      $lt-border-color: #7e62d0;
      border: 1px solid $lt-border-color;
    }
  }
}

.logo-divider {
  margin-top: 65px;
  margin-bottom: 40px;
}

.logo-divider-body {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    background-color: $color-accent-light;
    content: "";
  }

  &::after {
    $lt-width: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    width: $lt-width;
    height: 3px;
    margin-left: -#{$lt-width / 2};
    background-color: $color-white;
    content: "";
  }

  svg {
    $lt-width: 43px;
    $lt-height: 39px;
    width: $lt-width;
    height: $lt-height;
    top: -#{$lt-height / 2};
    margin-left: -#{$lt-width / 2};
    z-index: 5;
  }
}

.enterprise-edition {
  margin-top: 40px;
  margin-bottom: 70px;

  p {
    font-size: 20px;
    font-weight: 300;
  }
}

.value-pillar-section {
  margin-top: 50px;
  margin-bottom: 75px;

  .main-heading {
    max-width: 680px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
}

.value-pillar-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.value-pillar {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 300;

  @media (min-width: $screen-md-min) {
    flex: 1 0 20%;
  }

  .value-pillar-media {
    flex: 0 0 116px;

    svg path,
    svg rect {
      $lt-icon-color: #6b4fbb;
      fill: $lt-icon-color;
    }
  }

  .value-pillar-body {
    flex: 1 1;
  }
}

.pillar-title {
  @include accent-font-regular;
  margin-top: 0;
  font-size: 26px;
}

.ten-oh-announcement {
  background: url("/images/home/gl-10-bg-clipped.jpg") 50% 50% / cover no-repeat;
  color: $color-white;

  .row {
    display: flex;
    flex-flow: column;
    align-items: center;

    @media(min-width: $screen-lg-min) {
      flex-flow: row;
    }
  }
}

.ten-oh-label,
.ten-oh-description {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.ten-oh-label {
  @include accent-font-bold;
  font-size: 120px;
  text-align: center;

  @media (min-width: $screen-lg-min) {
    font-size: 265px;
  }
}

.ten-oh-description {
  $lt-bg-color: #6b4fbb;
  $lt-gradient-start-color: #231a3d;
  $lt-gradient-end-color: #6b4fbb;
  padding: 20px 40px;
  background-color: $lt-bg-color;
  background-image: linear-gradient(180deg, $lt-gradient-start-color 0%, $lt-gradient-end-color 100%);
  font-size: 20px;
  font-weight: 300;

  @media (min-width: $screen-lg-min) {
    padding: 50px 80px;
  }

  .main-heading {
    margin-bottom: 27px;
  }
}

.open-core {
  $lt-open-core-bg-color: $color-white;
  margin-top: 90px;
  margin-bottom: 80px;
  background-color: $lt-open-core-bg-color;
  font-size: 20px;
  font-weight: 300;

  .container {
    display: flex;
  }

  .row {
    article {
      text-align: center;
      float: none;
    }

    aside {
      min-height: 450px;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }

    @media (min-width: $screen-lg-min) {
      display: flex;

      article {
        text-align: left;
        float: left;
      }

      aside {
        float: left;
      }
    }
  }

  article {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .top-30-callout {
    $lt-bg-color: $color-accent-light;
    $lt-gradient-start-color: #231a3d;
    $lt-gradient-end-color: #6b4fbb;
    $lt-diameter: 413px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -#{$lt-diameter / 2};
    width: $lt-diameter;
    height: $lt-diameter;
    border-radius: 100%;
    background-color: $lt-bg-color;
    background-image: linear-gradient(180deg, $lt-gradient-start-color 0%, $lt-gradient-end-color 100%);
    color: $color-white;
    text-align: center;
    z-index: 4;

    @media (max-width: 690px) {
      position: static;
      margin: 0 auto;
    }

    @media (max-width: #{$lt-diameter + 31}) {
      width: 90vw;
      height: 90vw;
    }

    p {
      padding-top: 24px;

      @media (max-width: $screen-xs-max) {
        padding-top: 12px;
      }
    }

    span {
      @include accent-font-light;
      display: block;
      font-size: 28px;
      line-height: 1.2;
    }

    em {
      @include accent-font-light;
      font-size: 80px;
      font-style: normal;
      line-height: 1;
      text-transform: uppercase;
    }

    strong {
      @include accent-font-bold;
      line-height: 1;
      font-size: 80px;
    }

    @media (max-width: $screen-xs-max) {
      em,
      strong {
        font-size: 50px;
      }
    }
  }

  .contributors-callout {
    $lt-contributors-callout-diameter: 317px;
    $lt-bg-color: $color-accent-light;
    $lt-gradient-start-color: #fca326;
    $lt-gradient-end-color: #e24329;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -#{$lt-contributors-callout-diameter / 2};
    height: $lt-contributors-callout-diameter;
    width: $lt-contributors-callout-diameter;
    border: 6px solid $lt-open-core-bg-color;
    border-radius: 100%;
    background-color: $lt-bg-color;
    background-image: linear-gradient(to top, $lt-gradient-start-color 0%, $lt-gradient-end-color 100%);
    color: $color-white;
    text-align: center;
    z-index: 5;

    @media (max-width: 690px) {
      position: static;
      margin: -40px auto 0;
    }

    strong {
      @include accent-font-bold;
      display: block;
      font-size: 80px;
      line-height: 1;
    }

    span {
      @include accent-font-light;
      font-size: 40px;
      line-height: 1.2;
    }
  }
}

.customers {
  $lt-bg-color: #ebedf1;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $lt-bg-color;

  .main-heading {
    margin-bottom: 30px;

    a {
      color: inherit;
      font-weight: inherit;

      &:hover {
        text-decoration: none;
        border-bottom: 2px solid currentcolor;
      }
    }
  }

  .btn-group {
    margin-top: 60px;
  }
}

.customer-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 12px;
  list-style: none;

  @media (max-width: $screen-md-max) {
    flex-wrap: wrap;
    justify-content: center;
  }

  figure {
    margin: 0 20px 20px;
  }

  // Make Comcast logo line up a little better
  .align-top {
    align-self: flex-start;
  }
}

.customer-quote {
  display: flex;
  flex-flow: column;
  padding: 20px;
  margin: 0;
  border-left: 0;
  background-color: $color-white;

  @media (min-width: $screen-md-min) {
    flex-flow: row;
    padding: 55px;
  }

  .quote-media {
    display: flex;
    flex: 0 0 230px;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 100%;
    }
  }

  .quote-body {
    flex: 1 1;
  }

  .quote-text {
    @include accent-font-light;
    font-size: 20px;
    font-style: italic;
    line-height: #{40px / 28px};

    @media (min-width: $screen-md-max) {
      font-size: 28px;
    }
  }

  .quote-attribution {
    @include accent-font-light;
    font-size: 16px;
    font-style: normal;

    @media (min-width: $screen-md-max) {
      font-size: 20px;
    }
  }
}

// SCSS extracted from here for re-use.
// Keeping location to avoid specificity issues.
@import "feature-group";

.superindex {
  color: $color-white;
  margin-left: -10px;

  &:hover {
    color: $color-white;
    text-decoration: none;
  }
}

.footer-note {
  text-align: center;
  margin-bottom: 20px;

  a {
    color: $color-white;

    &:hover {
      color: $color-white;
      text-decoration: underline;
    }
  }
}

.forrester-wave-section {
  margin-bottom: 90px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("/images/home/forrester-wave-bg.jpg") 50% 50% / cover no-repeat;
  color: $color-white;

  @media (max-width: $screen-sm-max) {
    .flex-row {
      flex-wrap: wrap;
    }

    .forrester-wave-media {
      margin-top: 40px;
    }
  }
}

.forrester-wave-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

